<mat-toolbar class="header">
    <i class="fa fa-apple logoSize" aria-hidden="true"></i>
    <span class="applicationName">My Projects</span>
    <span class="example-spacer"></span>
    <span class="settings" #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="settingsMenu"><i class="fa fa-cog" aria-hidden="true"></i></span>
    <span  class="battery cursorPointer" [ngStyle]="getBgColor()" [matTooltip]="!batteryObject ? 'Battery can not be calculate on this device/ browser' : ((((batteryObject?.level || 0 ) * 100).toFixed(0)+'%') +  (batteryObject?.charging ? ' Charging' : ''))">
        {{((batteryObject?.level || 0 ) * 100).toFixed(0)}}
        <span class="cursorPointer" *ngIf="!batteryObject?.charging">%</span>
        <i class="fa fa-bolt" *ngIf="batteryObject?.charging" aria-hidden="true"></i>
    </span>
    <span class="dateTime" [matMenuTriggerFor]="datePopover">{{currentDateTime}}</span>
</mat-toolbar>

<mat-menu #datePopover="matMenu">
    <div class="commonPopover" (click)="$event.stopPropagation();">
        <mat-calendar [(selected)]="selectedDateFromCalendar"></mat-calendar>
    </div>
    <div class="row reminderButton">
        <!-- <button mat-button mat-dialog-close class="fullButton" (click)="openReminderModal()">Add a Reminder</button> -->
    </div>
</mat-menu>

<mat-menu #settingsMenu="matMenu">
    <div class="commonPopover" (click)="$event.stopPropagation();">
        <div class="settingCard">
            <span class="settingNameHeading">Display</span>
            <mat-slider min="0" max="10" class="w-100" (input)="onBrightnessSliderChange($event)"
                [(ngModel)]="defaultBrightness">
                <input matSliderThumb>
            </mat-slider>
        </div>
        <button mat-button mat-dialog-close class="fullButton" (click)="openSettings();menuTrigger.closeMenu()">Open Settings</button>
    </div>
</mat-menu>

<ng-template #welcomeNote>
    <map-dialog-header [headerData]="matDialogHeader"></map-dialog-header>
    <div mat-dialog-content>
        <p>
            Hi there..!, I am kiran Behara and I have 3 years of experience as an Angular Developer with
            a little bit java and Oracle knowledge, This is my personal portfolio and tried to develop it like a web operating system.<br/>
            <span class="text-danger">Note : Use Chrome for best experience</span>
        </p>
        <p>Tech Stack :</p>
        <ol>
            <li>Angular</li>
            <li>Harper DB</li>
            <li>NodeJs</li>
            <li>Express</li>
            <li>Mongo</li>
        </ol>
        <!-- <p>To Be Hidden<br/>
                git config --global user.name "Kiran Behara"
                git config --global user.email "kiranbehara69@gmail.com"
            </p> -->
        <!-- <p id="welcomeNote"></p> -->
    </div>
    <div mat-dialog-actions>
        <button cdkFocusInitial mat-button mat-dialog-close class="fullButton">continue</button>
    </div>
</ng-template>