.loginHeading{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.loginStyle{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100% !important;
    align-items: center;
}
.loginCard{
    width: 30vw;
    background: rgba(255,255,255, var(--transparencyVariable)) !important;
    height: auto;
    border : 4px solid var(--materialComponentColor);
    border-bottom:  none;
    border-right:  none;
    border-left:  none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
    @media screen and (max-width: 600px) {
        width: 80vw;
      }
}
.actions{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}