/* You can add global styles to this file, and also import other style files */
:root{
    --brightnessVariable : 1;
    --macOsBlue : #007ccf ;
    --infoBgColor : rgb(214, 228, 238) ;
    --warnBgColor : rgb(238, 232, 214) ;
    --macOsGreen : #00CA4E;
    --sucessBgColor : #d5e9dc;
    --macOsYellow : #FFBD44;
    --macOsRed : #FF605C;
    --errorBgColor : #f7e6e6;
    --white: white;
    --black: black;
    --gray : gray;
    --macOsOrange : #FF605C ;
    --url : url('../assets/images/wallpaper1.jpg');
    --materialComponentColor : #007ccf;
    --windDeg : '0deg';
}
html, body { height: 100%;  }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: black; }
.mat-menu-panel{
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    max-width: 500px !important;
}
.mat-dialog-container{
  background: rgb(249 241 241 / 75%);
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border-radius: 15px !important;
  max-width: 100vw !important;
  transition: height 5.5s;
}
.mat-button.mat-button-disabled.mat-button-disabled{
  background: var(--gray) !important;
}
.macintoshModal{
  border-radius: 15px !important;
}
.noWidthButton{
  position: relative;
  width: auto !important;
  height: 30px !important;
  font-weight: normal !important;
  border-radius: 5px !important;
  color : var(--white) !important;
  background-color: var(--materialComponentColor)  !important;
  line-height: 0 !important;
}
.normalButton{
  position: relative;
  width: 25% !important;
  height: 30px !important;
  font-weight: normal !important;
  border-radius: 5px !important;
  color : var(--white) !important;
  background-color: var(--materialComponentColor)  !important;
  line-height: 0 !important;
}
.mediumButton{
  position: relative;
  width: 50% !important;
  height: 30px !important;
  font-weight: normal !important;
  border-radius: 5px !important;
  color : var(--white) !important;
  background-color: var(--materialComponentColor)  !important;
  line-height: 0 !important;
}
.fullButton{
  position: relative;
  width: 100% !important;
  height: 30px !important;
  font-weight: normal !important;
  border-radius: 5px !important;
  color : var(--white) !important;
  background-color: var(--materialComponentColor)  !important;
  line-height: 0 !important;
}
.mat-form-field-appearance-legacy .mat-form-field-label{
  color: var(--black);
  font-size: 14px !important;
}
.mat-input-element{
  color: var(--black) !important;
}
.snackToaster_success {
  border-left: 5px solid var(--sucessBgColor) !important;
  background: var(--macOsGreen) !important;
  color: var(--white) !important;
  padding: 15px !important;
  max-width: 350px !important;
  overflow: hidden;
}

.snackToaster_error {
  border-left: 5px solid var(--errorBgColor) !important;
  background: var(--macOsRed) !important;
  color: var(--white) !important;
  padding: 15px !important;
  max-width: 350px !important;
  overflow: hidden;
}

.snackToaster_info {
  border-left: 5px solid var(--infoBgColor) !important;
  background: var(--macOsBlue) !important;
  color: var(--white) !important;
  padding: 15px !important;
  max-width: 350px !important;
  overflow: hidden;
}

.snackToaster_warn {
  border-left: 5px solid var(--warnBgColor) !important;
  background: var(--macOsYellow) !important;
  color: var(--white) !important;
  padding: 15px !important;
  max-width: 350px !important;
  overflow: hidden;
}

.mat-simple-snackbar-action {
  color: var(--black);
}
.cursorPointer{
  cursor: pointer !important;
}

.commonLayout{
  padding: 50px 20px 20px 20px;
  background : rgba(255,255,255, 0.75);
  height: 80vh !important;
}

.commonHeading{
  font-size: larger;
  font-weight: 500;
  padding-bottom: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.leftSideList{
  display: flex;
  flex-wrap: wrap;
  height: auto;
}
.listedItems{
  width: 25%;
  height: 70vh;
  @media screen and (max-width: 600px) {
    width: 100%;
    height: 25vh;
  }
  overflow: auto;
  padding: 5px;
  border : 4px solid var(--materialComponentColor);
    border-bottom:  none;
    border-right:  none;
    border-left:  none;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
  border-radius: 10px;
  .item{
      cursor: pointer;
      padding : 5px;
      padding-left: 5px;
      display: flex;
      margin: 3px 0;
      justify-content: space-between;
  }
  .item:hover{
      background-color: var(--materialComponentColor);
      border-radius: 5px;
      color: white;
  }
}
.itemSelected{
  background-color: var(--materialComponentColor);
  border-radius: 5px;
  color: white;
}
.workArea{
  width: 75%;
  padding: 5px;
  height: 70vh;
  overflow-x: hidden;
  overflow-y: auto;
  @media screen and (max-width: 600px) {
    width: 100%;
    height: 45vh;
    margin-top: 10px;
  }
}
.details{
  padding: 5px 0;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  .detailItem{
      display: flex;
      width: 300px;
     padding: 10px 5px;
  }
}
.label{
  min-width: 200px;
  width: 200px;
  font-weight: 600;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background{
  background-color: var(--materialComponentColor);
}
.mat-slider.mat-accent .mat-slider-track-fill, .mat-slider.mat-accent .mat-slider-thumb, .mat-slider.mat-accent .mat-slider-thumb-label{
  background-color: var(--materialComponentColor);
}
.mat-calendar-body-selected{
  background-color: var(--materialComponentColor);
}

.mat-option:hover:not(.mat-option-disabled), .mat-option:focus:not(.mat-option-disabled){
  background: var(--materialComponentColor) !important;
  color: var(--white) !important;
}
.mat-primary .mat-option{
  height: 35px !important;
}
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled){
  background: var(--materialComponentColor) !important;
  color: var(--white) !important;
 
}
.mat-bottom-sheet-container{
  background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    max-width: 500px !important;
}
.mat-progress-spinner circle, .mat-spinner circle{
  stroke:  var(--materialComponentColor) !important;
}
.ot{
  font-size: 14px;
}
.padLeft20{
  padding-left: 20px !important;
}