/* You can add global styles to this file, and also import other style files */
@import "@angular/material/theming";

:root{
    --brightnessVariable : 1;
    --transparencyVariable : 0.4;
    --macOsBlue : #007ccf ;
    --infoBgColor : rgb(214, 228, 238) ;
    --warnBgColor : rgb(238, 232, 214) ;
    --macOsGreen : #00CA4E;
    --sucessBgColor : #d5e9dc;
    --macOsYellow : #FFBD44;
    --macOsRed : #FF605C;
    --errorBgColor : #f7e6e6;
    --white: white;
    --black: black;
    --gray : gray;
    --macOsOrange : #FF605C ;
    // --url : url('../assets/images/wallpaper1.jpg');
    --materialComponentColor : #007ccf;
    --windDeg : '0deg';
}
html, body { height: 100%;  }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-menu-panel{
    max-width: 500px !important;
}
.mat-dialog-container{
  border-radius: 15px !important;
  max-width: 100vw !important;
  transition: height 5.5s;
}
.mat-button.mat-button-disabled.mat-button-disabled{
  background: var(--gray) !important;
}
.macintoshModal{
  border-radius: 15px !important;
}
.noWidthButton{
  position: relative;
  width: auto !important;
  height: 30px !important;
  font-weight: normal !important;
  border-radius: 5px !important;
  line-height: 0 !important;
}
.normalButton{
  position: relative;
  width: 25% !important;
  height: 30px !important;
  font-weight: normal !important;
  border-radius: 5px !important;
  line-height: 0 !important;
}
.mediumButton{
  position: relative;
  width: 50% !important;
  height: 30px !important;
  font-weight: normal !important;
  border-radius: 5px !important;
  line-height: 0 !important;
}
.fullButton{
  position: relative;
  width: 100% !important;
  height: 30px !important;
  font-weight: normal !important;
  border-radius: 5px !important;
  line-height: 0 !important;
}
.mat-form-field-appearance-legacy .mat-form-field-label{
  font-size: 14px !important;
}

.snackToaster_success {
  border-left: 5px solid var(--sucessBgColor) !important;
  background: var(--macOsGreen) !important;
  color: var(--white) !important;
  padding: 15px !important;
  max-width: 350px !important;
  overflow: hidden;
  @media screen and (max-width: 600px) {
    width: 100vw;
  }
}

.snackToaster_error {
  border-left: 5px solid var(--errorBgColor) !important;
  background: var(--macOsRed) !important;
  color: var(--white) !important;
  padding: 15px !important;
  max-width: 350px !important;
  overflow: hidden;
  @media screen and (max-width: 600px) {
    width: 100vw;
  }
}

.snackToaster_info {
  border-left: 5px solid var(--infoBgColor) !important;
  background: var(--macOsBlue) !important;
  color: var(--white) !important;
  padding: 15px !important;
  max-width: 350px !important;
  overflow: hidden;
  @media screen and (max-width: 600px) {
    width: 100vw;
  }
}

.snackToaster_warn {
  border-left: 5px solid var(--warnBgColor) !important;
  background: var(--macOsYellow) !important;
  color: var(--white) !important;
  padding: 15px !important;
  max-width: 350px !important;
  overflow: hidden;
  @media screen and (max-width: 600px) {
    width: 100vw;
  }
}

.mat-simple-snackbar-action {
  color: var(--black);
}

.cursorPointer{
  cursor: pointer !important;
}

.commonLayout{
  padding: 50px 20px 20px 20px;
  height: 80vh !important;
}

.commonHeading{
  font-size: larger;
  font-weight: 500;
  padding-bottom: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.leftSideList{
  display: flex;
  flex-wrap: wrap;
  height: auto;
}
.listedItems{
  width: 25%;
  height: 70vh;
  @media screen and (max-width: 600px) {
    width: 100%;
    height: 25vh;
  }
  overflow: auto;
  padding: 5px;
  border : 4px solid var(--materialComponentColor);
    border-bottom:  none;
    border-right:  none;
    border-left:  none;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
  border-radius: 10px;
  .item{
      cursor: pointer;
      padding : 5px;
      padding-left: 5px;
      display: flex;
      margin: 3px 0;
      justify-content: space-between;
  }
  .item:hover{
      background-color: var(--materialComponentColor);
      border-radius: 5px;
      color: white;
  }
}
.itemSelected{
  background-color: var(--materialComponentColor);
  border-radius: 5px;
  color: white;
}
.workArea{
  padding: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  @media screen and (max-width: 600px) {
    width: 100%;
    margin-top: 10px;
  }
}
.details{
  padding: 5px 0;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  .detailItem{
      display: flex;
      width: 300px;
     padding: 10px 5px;
  }
}
.label{
  min-width: 200px;
  width: 200px;
  font-weight: 600;
}

.mat-primary .mat-option{
  height: 35px !important;
}
.mat-bottom-sheet-container{
    max-width: 500px !important;
}

.ot{
  font-size: 14px;
}
.padLeft20{
  padding-left: 20px !important;
}
tr.mat-header-row{
  height: 30px !important;
  border-top-left-radius: 10px;
}
.mat-table thead tr.mat-header-row th:first-child{
  border-top-left-radius: 10px !important;
}
.mat-table thead tr.mat-header-row th:last-child{
  border-top-right-radius: 10px !important;
}



.leftRightSections{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: calc(100vh - 120px);
  .leftSide {
      width: 20%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin: 5px 0;
      border-radius: 15px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset !important;
      .loopItem{
          padding: 5px 20px;
          border-radius: 15px;
          margin: 5px 0;
          height: 30px;
          line-height: 0;
          box-shadow: none;
          cursor: pointer;
      }
      .loopItem:hover{
          border-radius: 15px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
      }
      @media screen and (max-width: 600px) {
          width: 100%;
          height: 25vh;
        }
  }
  .rightSide{
      width: 79%;
      margin: 5px 0;
      border-radius: 15px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset  !important;
      @media screen and (max-width: 600px) {
          width: 100%;
        }
  }
}
.example-spacer{
  flex: 1 1 auto;
}